.auth-container {
  width : 400px;
  height : 500px;
  background: whitesmoke;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position:top;
  background-size:100%;
  background-repeat: no-repeat;
  background-color: rgb(255 255 255 / 83%);
  position: relative;
  z-index: 2;
  border-radius: 10px;
  border: 1px solid #fff;
}


input {
  padding: 15px;
  border: none;
  outline: 1px solid #DEDEE6;
  border: 1px solid #DEDEE6;
  border-radius: 10px;
  margin-top: 10px;
  width : 250px;
  transition : all .2s ease-in-out;
}

input:focus {
  outline : 2px solid rgb(49, 49, 49);
  outline-offset: 1px;
}

button{
  background: black;
  border: none;
  outline : 2px solid rgb(37, 37, 37);
  padding: 1rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin-top: 15px;   
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Poppins' ,sans-serif;
  width:100%;
  border-radius: 10px;
  opacity : .8;
  transition: opacity .2s ease-out;
}

.add-order-button {
  padding: 10px !important;
  width : 100px;
}

.add-order-form input {
  width : 100%;
}

.add-order-form .form {
   width : 50%;

}

button:hover {
  opacity : 1;
}

h1 {
  color: rgb(6, 6, 6);
  font-size: 2rem;
  text-align: center;
}

.form {
   height : 400px;
   width : 100%;
   z-index: 2;
   transition: height .3s ease-in-out;
} 

.dashboard-container {
  width : 95%;
  height: 100vh;
  margin: 1rem auto;
  padding : 0 1.5rem;
  background : #fff;
}

.dashboard-container .dashboard {
  display : flex;
}

header {
  border-bottom: 1px solid rgb(222, 222, 222);
  padding: .5rem 0;
  display: flex;
  justify-content: space-between;
}

header .header-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-left button{
  padding: 10px !important;
  font-size: 12px;
  border-radius: 50px;
}

header .username {
   background: whitesmoke;
   padding: 5px 1rem;
   border-radius: 50px;
   cursor: pointer;
   outline: 2px solid rgb(212, 212, 212);
}



.logout-btn {
  width : auto;
  border-radius: 2.5px;
  opacity: .8;
  padding: .5rem;
  font-size: 12px;
}

.add-topic-btn:hover {
  opacity:1;
  transform: scale(.99); 
  transition: all .1s ease-in;
}

.add-order-form {
   width : 30vw;
   height : 90vh;
   background: whitesmoke;
   border-right: 1px solid lightgray;
   padding: 1rem;
   overflow-y: scroll;
   display : none;
   transition : display .3s ease-in-out;
}

main {
  display : flex;
}

.orders-container {
  width : 70vw;
}

main .order-list-item {
  list-style: none;
  width : 300px;
  background : rgb(255, 255, 255);
  box-shadow: 0px 0px 2px 2px rgba(224, 224, 224, 0.625);
  border-radius: 10px;
  margin: 16px 0;
  line-height: 1;
  padding: .5rem;
}

main .order-list-item p {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

main .order-list-item span {
   color: #000;
   font-size: 14px;
   font-weight: 600;
}

main .order-list-item p:nth-child(2) , p:nth-child(2) span {
  font-size: 10px;
  color: rgb(12, 60, 181);
}


.main-dashboard {
  padding: 1rem;
  width : 60vw;
}

.Topic-container {
  width : 100%;
}

.Topic-container li {
  width : 300px;
  background: rgb(255, 255, 255);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  list-style: none;
  justify-content:space-between;
  box-shadow: 0px 0px 2px 2px rgb(241, 241, 241);
  border-radius: 5px;
  cursor: pointer;
}