@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins' , sans-serif;
  background : url(./assets/resturant.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-position-y: -20rem;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
